
.SemesterWidget QLabel[title=true] {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.SemesterWidget QLabel[desc=true] {
    font-size: 14px;
    font-weight: bold;
    color: #c0c0c0;
}

.UEWidget {
    background-color: #545454;
    border-radius: 8px;
    border: 2px solid #ffffff;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.UEWidget > .oge-content {
    background-color: transparent;
}

.UEWidget QLabel.title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.UEWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.PoleWidget {
    background-color: #1A1A1A;
}

.PoleWidget[last-child=true] {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.PoleWidget[first-child=true] {
    background-color: #545454;
}

.PoleWidget > .oge-header {
    background-color: #454545;
    border-top: 2px solid #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.PoleWidget > .oge-content {
    background-color: #454545;
}

.PoleWidget QLabel.title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.PoleWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.SubjectWidget {
    background-color: #1A1A1A;
}

.SubjectWidget[first-child=true] {
    background-color: #454545;
}

.SubjectWidget > .oge-header {
    background-color: #373737;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.SubjectWidget > .oge-content {
    background-color: #373737;
}

.SubjectWidget QLabel.title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.SubjectWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.GradeGroupWidget {
    background-color: #1A1A1A;
}

.GradeGroupWidget[first-child=true] {
    background-color: #373737;
}

.GradeGroupWidget > .oge-header {
    background-color: #282828;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.GradeGroupWidget > .oge-content {
    background-color: #282828;
}

.GradeGroupWidget > .oge-content > .oge-subcontent {
    background-color: #1A1A1A;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.GradeGroupWidget QLabel.title {
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.GradeGroupWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.GradeWidget QLabel.grade {
    font-size: 12px;
}

.GradeWidget QLabel.coefficient {
    font-size: 10px;
    margin-top: 4px;
}



.UEWidget *[oge-weird=true] QLabel, .PoleWidget *[oge-weird=true] QLabel, .SubjectWidget *[oge-weird=true] QLabel, .GradeGroupWidget *[oge-weird=true] QLabel, QFrame[oge-details=true] *[oge-weird=true] QLabel {
    color: #00DEFF;
    font-weight: bold;
}

.UEWidget .average[oge-weird=true] QLabel, .PoleWidget .average[oge-weird=true] QLabel, .SubjectWidget .average[oge-weird=true] QLabel, .GradeGroupWidget .average[oge-weird=true] QLabel {
    text-decoration: line-through;
}

.UEWidget .average[oge-weird=true] QWidget[QBetterToolTip=true] QLabel, .PoleWidget .average[oge-weird=true] QWidget[QBetterToolTip=true] QLabel, .SubjectWidget .average[oge-weird=true] QWidget[QBetterToolTip=true] QLabel, .GradeGroupWidget .average[oge-weird=true] QWidget[QBetterToolTip=true] QLabel {
    text-decoration: none;
}



.PoleWidget[last-child=true], .PoleWidget[last-child=true] > .oge-content {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.PoleWidget[last-child=true] .SubjectWidget[last-child=true], .PoleWidget[last-child=true] .SubjectWidget[last-child=true] > .oge-content {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.PoleWidget[last-child=true] .SubjectWidget[last-child=true] .GradeGroupWidget[last-child=true], .PoleWidget[last-child=true] .SubjectWidget[last-child=true] .GradeGroupWidget[last-child=true] > .oge-content, .PoleWidget[last-child=true] .SubjectWidget[last-child=true] .GradeGroupWidget[last-child=true] > .oge-content > .oge-subcontent {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
