
.SemesterWidget QLabel[title=true] {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.SemesterWidget QLabel[desc=true] {
    font-size: 14px;
    font-weight: bold;
    color: #c0c0c0;
}

.UEWidget {
    background-color: #545454;
    border-radius: 8px;
    border: 2px solid #ffffff;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.UEWidget QLabel.title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.UEWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.PoleWidget {
    background-color: #454545;
    border-top: 2px solid #ffffff;
    border-radius: 0;
}

.PoleWidget QLabel.title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.PoleWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.SubjectWidget {
    background-color: #373737;
    /* border-top: 2px solid #ffffff; */
    border-radius: 0;
}

.SubjectWidget QLabel.title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.SubjectWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.GradeGroupWidget {
    background-color: #282828;
    border-radius: 0;
}

.GradeGroupWidget QLabel.title {
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.GradeGroupWidget .average QLabel {
    font-size: 14px;
    font-weight: bold;
    padding-right: 8px;
}


.GradeWidget QLabel.grade {
    font-size: 12px;
}

.GradeWidget QLabel.coefficient {
    font-size: 10px;
    margin-top: 4px;
}



.UEWidget .average[oge-weird=true] QLabel, .PoleWidget .average[oge-weird=true] QLabel, .SubjectWidget .average[oge-weird=true] QLabel, .GradeGroupWidget .average[oge-weird=true] QLabel {
    color: #00DEFF;
    text-decoration: line-through;
}
