
/* QBetterGraphicsItemWidget */

QWidget[QBetterGraphicsItemWidget=true] {
    background-color: #262626;
    border-radius: 4px;
    border: 2px solid #353535;
}

QWidget[QBetterGraphicsItemWidget=true][selected=true] {
    border-color: #ffffff;
}

QWidget[QBetterGraphicsItemWidget=true] QWidget {
    background-color: transparent;
}
