
/* QComboBox */

QComboBox {
    border-radius: 4px;
    padding: 1px 18px 1px 16px;
    min-width: 1em;
	color: #FFFFFF;
	background-color: #262626;
	height: 24px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid transparent;
}

QComboBox[big=true] {
	height: 36px;
	min-width: 12em;
}

QComboBox:hover {
	background-color: #333333;
}

QComboBox:focus {
	background-color: #333333;
	border-bottom: 2px solid #8AAEDB;
}

QComboBox:editable:hover {
    background-color: #333333;
	color: #FFFFFF;
}

QComboBox:!editable:hover, QComboBox::drop-down:editable {
    background-color: #333333;
}

QComboBox:!editable:on:hover, QComboBox::drop-down:editable:on {
    background-color: #333333;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
	height: 15px;
    border-radius: 4px;
	border: 0px;
    border-left-color: #232629;
    border-left-style: solid;
}

QComboBox::down-arrow {
    image: url({path}combobox/downArrow.png);
	width: 24px;
	height: 24px;
	margin-top: 12px;
	margin-right: 4px;
}

QComboBox[big=true]::down-arrow {
	width: 36px;
	height: 36px;
	margin-top: 24px;
	margin-right: 16px;
}

QComboBox QListView {
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	background-color: #262626;
	outline: 0px;
	border-radius: 4px;
}

QComboBox QListView::item {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #262626;
	border-radius: 4px;
	min-width: 48px;
}

QComboBox[bigitem=true] QListView::item {
	padding-left: 10px;
	background-color: #262626;
	border-radius: 4px;
	height: 48px;
	width: 96px;
}

QComboBox QListView::item:hover {
	background-color: #333333;
}

QComboBox QListView::item:selected {
	background-color: #333333;
}

QComboBox[dark=true], QComboBox[dark=true]:hover, QComboBox[dark=true]:focus, QComboBox[dark=true]:selected, QComboBox[dark=true]:editable:hover, QComboBox[dark=true]:!editable:hover, QComboBox[dark=true]::drop-down:editable, QComboBox[dark=true]:!editable:on:hover, QComboBox[dark=true]::drop-down:editable:on {
	background-color: #1A1A1A;
}

QComboBox[dark=true] QListView {
	background-color: #1A1A1A;
}

QComboBox[dark=true] QListView::item {
	background-color: #1A1A1A;
}

QComboBox[dark=true][bigitem=true] QListView::item {
	background-color: #1A1A1A;
}

QComboBox[dark=true] QListView::item:hover {
	background-color: #262626;
}

QComboBox[dark=true] QListView::item:selected {
	background-color: #262626;
}



/* QComboBox - Main Color */

QWidget[color='{main-color-name}'] QComboBox:focus {
	border-bottom-color: #{main-color-pressed};
}



/* QComboBox - Neutral Color */

QWidget[color='{neutral-color-name}'] QComboBox:focus {
	border-bottom-color: #{neutral-color-pressed};
}
