
/* QDockWidget */

QDockWidget {
	background-color: #262626;
	color: #fefefe;
	border: none;
	border-color: #4f5b62;
	titlebar-close-icon: url({path}dockwidget/close.png);
	titlebar-normal-icon:  url({path}dockwidget/sendToFront.png);
}

QDockWidget QFrame, QDockWidget QWidget {
	background-color: #262626;
	color: #fefefe;
}

QDockWidget::title {
	background-color: #262626;
	color: #fefefe;
	text-align: center;
	border: none;
	border-bottom: 1px solid #606060;
}

QWidget[QDockWidget=true] {
	background-color: #202020;
}

QMainWindow > QTabBar::tab {
	background-color: transparent;
	color: #fefefe;
	text-align: center;
	border: none;
	padding: 0px 10px;
	height: 20px;
	border-radius: 10px;
	margin: 0px 5px;
}

QMainWindow > QTabBar::tab:selected {
	background-color: #cccccc;
}



/* QDockWidget QLabel */
QDockWidget QLabel {
	background-color: transparent;
}



/* QDockWidget QTabBar - Main Color */

QMainWindow[color='{main-color-name}'] > QTabBar::tab:selected {
	background-color: #{main-color-normal};
}

QMainWindow[color='{main-color-name}'] > QTabBar::tab:hover {
	background-color: #{main-color-hover};
}

QMainWindow[color='{main-color-name}'] > QTabBar::tab:disabled {
	background-color: #{main-color-disabled};
	color: #8F8F8F;
}



/* QDockWidget QTabBar - Neutral Color */

QMainWindow[color='{neutral-color-name}'] > QTabBar::tab:selected {
	background-color: #{neutral-color-normal};
	color: #000000;
}

QMainWindow[color='{neutral-color-name}'] > QTabBar::tab:hover {
	background-color: #{neutral-color-hover};
}

QMainWindow[color='{neutral-color-name}'] > QTabBar::tab:disabled {
	background-color: #{neutral-color-disabled};
	color: #8F8F8F;
}
