
/* QDropDownWidget */

/* QPushButton[QDropDownWidget=true] {
	background-color: transparent;
	color: #fefefe;
	border: none;
	margin: 0 0 0 0;
	spacing: 0;
	height: 16px;
	qproperty-icon: url({path}dropdownwidget/rightArrow.png) off, url({path}dropdownwidget/downArrow.png) on;
	qproperty-iconSize: 30px;
}

QPushButton[QDropDownWidget=true]:hover {
	background-color: transparent;
	border: none;
}

QPushButton[QDropDownWidget=true]:checked {
	background-color: transparent;
	border: none;
}

QPushButton[QDropDownWidget=true]:checked:hover {
	background-color: transparent;
	border: none;
}

QPushButton[QDropDownWidget=true]:pressed {
	color: #fefefe;
} */
