
/* QLabel */

QLabel::link {
	color: #4cff00;
}



/* QLinkLabel - Blue */

QLabel[color='blue']::link {
	color: #1B80FC;
}



/* QLinkLabel - Red */

QLabel[color='red']::link {
	color: #FC271B;
}



/* QLinkLabel - Green */

QLabel[color='green']::link {
	color: #07E813;
}



/* QLinkLabel - Yellow */

QLabel[color='yellow']::link {
	color: #E8BC07;
}



/* QLinkLabel - Magenta */

QLabel[color='magenta']::link {
	color: #FC1BF1;
}



/* QLinkLabel - Cyan */

QLabel[color='cyan']::link {
	color: #00C8D4;
}



/* QLinkLabel - Orange */

QLabel[color='orange']::link {
	color: #E88307;
}



/* QLinkLabel - Pink */

QLabel[color='pink']::link {
	color: #E8076C;
}



/* QLinkLabel - Lime */

QLabel[color='lime']::link {
	color: #6CE807;
}



/* QLinkLabel - Turquoise */

QLabel[color='turquoise']::link {
	color: #07E8BC;
}



/* QLinkLabel - White */

QLabel[color='white']::link {
	color: #EFEFEF;
}
