
/* QLabel */

QLabel::link {
	color: #4cff00;
}



/* QLinkLabel - Main Color */

QLabel[color='{main-color-name}']::link {
	color: #{main-color-pressed};
}



/* QLinkLabel - Neutral Color */

QLabel[color='{neutral-color-name}']::link {
	color: #{neutral-color-pressed};
}
