
/* QMenuBar */

QMenuBar {
	background-color: #333333;
	color: #FFFFFF;
	font-size: 14px;
}

QMenuBar::item {
	background-color: #333333;
	color: #B3B3B3;
}

QMenuBar::item:disabled {
	color: #737373;
}

QMenuBar::item:selected {
	color: #FFFFFF;
	background-color: #575757;
}

QMenuBar::item:pressed {
	color: #FFFFFF;
	background-color: #6F6F6F;
}



/* QMenuBar - Main Color */

QWidget[color='{main-color-name}'] QMenuBar::item:selected {
	background-color: #{main-color-hover};
}

QWidget[color='{main-color-name}'] QMenuBar::item:pressed {
	background-color: #{main-color-pressed};
}



/* QMenuBar - Neutral Color */

QWidget[color='{neutral-color-name}'] QMenuBar::item:selected {
	background-color: #{neutral-color-hover};
	color: #000000;
}

QWidget[color='{neutral-color-name}'] QMenuBar::item:pressed {
	background-color: #{neutral-color-pressed};
	color: #000000;
}
