
/* QMenuBar */

QMenuBar {
	background-color: #333333;
	color: #FFFFFF;
}

QMenuBar::item {
	background-color: #333333;
	color: #B3B3B3;
}

QMenuBar::item:disabled {
	color: #737373;
}

QMenuBar::item:selected {
	color: #FFFFFF;
	background-color: #575757;
}

QMenuBar::item:pressed {
	color: #FFFFFF;
	background-color: #6F6F6F;
}



/* QMenuBar - Blue */

QWidget[color='blue'] QMenuBar::item:selected {
	background-color: #0D66D0;
}

QWidget[color='blue'] QMenuBar::item:pressed {
	background-color: #1B80FC;
}



/* QMenuBar - Red */

QWidget[color='red'] QMenuBar::item:selected {
	background-color: #D0150D;
}

QWidget[color='red'] QMenuBar::item:pressed {
	background-color: #FC271B;
}



/* QMenuBar - Green */

QWidget[color='green'] QMenuBar::item:selected {
	background-color: #00BC0C;
}

QWidget[color='green'] QMenuBar::item:pressed {
	background-color: #07E813;
}



/* QMenuBar - Yellow */

QWidget[color='yellow'] QMenuBar::item:selected {
	background-color: #BC9900;
}

QWidget[color='yellow'] QMenuBar::item:pressed {
	background-color: #E8BC07;
}



/* QMenuBar - Magenta */

QWidget[color='magenta'] QMenuBar::item:selected {
	background-color: #D00DC9;
}

QWidget[color='magenta'] QMenuBar::item:pressed {
	background-color: #FC1BF1;
}



/* QMenuBar - Cyan */

QWidget[color='cyan'] QMenuBar::item:selected {
	background-color: #009CA8;
}

QWidget[color='cyan'] QMenuBar::item:pressed {
	background-color: #00C8D4;
}



/* QMenuBar - Orange */

QWidget[color='orange'] QMenuBar::item:selected {
	background-color: #BC6A00;
}

QWidget[color='orange'] QMenuBar::item:pressed {
	background-color: #E88307;
}



/* QMenuBar - Pink */

QWidget[color='pink'] QMenuBar::item:selected {
	background-color: #BC0052;
}

QWidget[color='pink'] QMenuBar::item:pressed {
	background-color: #E8076C;
}



/* QMenuBar - Lime */

QWidget[color='lime'] QMenuBar::item:selected {
	background-color: #52BC00;
}

QWidget[color='lime'] QMenuBar::item:pressed {
	background-color: #6CE807;
}



/* QMenuBar - Turquoise */

QWidget[color='turquoise'] QMenuBar::item:selected {
	background-color: #00BC99;
}

QWidget[color='turquoise'] QMenuBar::item:pressed {
	background-color: #07E8BC;
}



/* QMenuBar - White */

QWidget[color='white'] QMenuBar::item:selected {
	background-color: #D7D7D7;
	color: #000000;
}

QWidget[color='white'] QMenuBar::item:pressed {
	background-color: #EFEFEF;
	color: #000000;
}
