
/* QMenu */

QMenu {
	background-color: #333333;
	color: #FFFFFF;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #484848;
}

QMenu::item {
	background-color: #333333;
	color: #B3B3B3;
	border-radius: 4px;
	height: 24px;
	min-width: 192px;
	padding-left: 16px;
	padding-right: 16px;
}

QMenu::item:disabled {
	color: #737373;
}

QMenu::item:selected {
	color: #FFFFFF;
	background-color: #575757;
}

QMenu::item:selected:disabled {
	color: #737373;
	background-color: transparent;
}

QMenu::item:pressed {
	color: #FFFFFF;
	background-color: #6F6F6F;
}

QMenu::item:pressed:disabled {
	color: #737373;
	background-color: transparent;
}

QMenu::icon {
    padding-left: 16px;
}



/* QMenu - Main Color */

QWidget[color='{main-color-name}'] QMenu::item:selected {
	background-color: #{main-color-hover};
}

QWidget[color='{main-color-name}'] QMenu::item:pressed {
	background-color: #{main-color-pressed};
}



/* QMenu - Neutral Color */

QWidget[color='{neutral-color-name}'] QMenu::item:selected {
	background-color: #{neutral-color-hover};
	color: #000000;
}

QWidget[color='{neutral-color-name}'] QMenu::item:pressed {
	background-color: #{neutral-color-pressed};
	color: #000000;
}
