
/* QNamedSpinBox */

QWidget[QNamedSpinBox=true] QSpinBox {
	height: 33px;
	border: none;
	border-bottom: 2px solid transparent;
	background-color: #262626;
	font-size: 14px;
	font-weight: bold;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 12px;
}

QWidget[QNamedSpinBox=true] QSpinBox:hover {
	background-color: #333333;
}

QWidget[QNamedSpinBox=true] QSpinBox:focus {
	border-bottom: 2px solid #8AAEDB;
	background-color: #333333;
}

QWidget[QNamedSpinBox=true] QLabel {
	color: #909090;
	height: 50px;
	border: none;
	font-size: 12px;
	padding-bottom: 24px;
	padding-left: 16px;
}

QWidget[QNamedSpinBox=true] QLabel[hover=true] {
	color: #909090;
}

QWidget[QNamedSpinBox=true] QLabel[focus=true] {
	color: #3C6FB2;
}

QWidget[QNamedSpinBox=true][dark=true] QSpinBox {
	background-color: #1A1A1A;
}



/* QNamedSpinBox - Wide */

QWidget[wide=true] QWidget[QNamedSpinBox=true] QSpinBox, QWidget[QNamedSpinBox=true][wide=true] QSpinBox {
	min-width: 6em;
}

QWidget[wider=true] QWidget[QNamedSpinBox=true] QSpinBox, QWidget[QNamedSpinBox=true][wider=true] QSpinBox {
	min-width: 12em;
}



/* QNamedSpinBox - Main Color */

QWidget[color='{main-color-name}'] QWidget[QNamedSpinBox=true][color='main'] QSpinBox:focus, QWidget[QNamedSpinBox=true][color='{main-color-name}'] QSpinBox:focus {
	border-bottom-color: #{main-color-pressed};
}

QWidget[color='{main-color-name}'] QWidget[QNamedSpinBox=true][color='main'] QLabel[focus=true], QWidget[QNamedSpinBox=true][color='{main-color-name}'] QLabel[focus=true] {
	color: #{main-color-pressed};
}



/* QNamedSpinBox - Neutral Color */

QWidget[color='{neutral-color-name}'] QWidget[QNamedSpinBox=true][color='main'] QSpinBox:focus, QWidget[QNamedSpinBox=true][color='{neutral-color-name}'] QSpinBox:focus {
	border-bottom-color: #{neutral-color-pressed};
}

QWidget[color='{neutral-color-name}'] QWidget[QNamedSpinBox=true][color='main'] QLabel[focus=true], QWidget[QNamedSpinBox=true][color='{neutral-color-name}'] QLabel[focus=true] {
	color: #{neutral-color-pressed};
}
