
/* QNamedComboBox */

QWidget[QNamedComboBox=true] QComboBox {
	height: 36px;
	min-width: 12em;
	padding-top: 12px;
	padding-left: 19px;
	background-color: #262626;
}

QWidget[QNamedComboBox=true] QComboBox::down-arrow {
	width: 36px;
	height: 36px;
	margin-top: 36px;
	margin-right: 16px;
}

QWidget[QNamedComboBox=true] QLabel {
	color: #909090;
	background-color: transparent;
	height: 50px;
	border: none;
	font-size: 12px;
	padding-bottom: 24px;
	padding-left: 16px;
}

QWidget[QNamedComboBox=true] QLabel[hover=true] {
	color: #909090;
}

QWidget[QNamedComboBox=true] QLabel[focus=true] {
	color: #3C6FB2;
}

QWidget[QNamedComboBox=true][dark=true] QComboBox {
	background-color: #1A1A1A;
}

QWidget[QNamedComboBox=true][dark=true] QComboBox QListView {
	background-color: #1A1A1A;
}

QWidget[QNamedComboBox=true][dark=true] QComboBox QListView::item {
	background-color: #1A1A1A;
}

QWidget[QNamedComboBox=true][dark=true] QComboBox[bigitem=true] QListView::item {
	background-color: #1A1A1A;
}

QWidget[QNamedComboBox=true][dark=true] QComboBox QListView::item:hover {
	background-color: #262626;
}

QWidget[QNamedComboBox=true][dark=true] QComboBox QListView::item:selected {
	background-color: #262626;
}



/* QNamedComboBox - Wide */

QWidget[wide=true] QWidget[QNamedComboBox=true] QComboBox, QWidget[QNamedComboBox=true][wide=true] QComboBox {
	min-width: 6em;
}

QWidget[wider=true] QWidget[QNamedComboBox=true] QComboBox, QWidget[QNamedComboBox=true][wider=true] QComboBox {
	min-width: 12em;
}



/* QNamedComboBox - Main Color */

QWidget[color='{main-color-name}'] QWidget[QNamedComboBox=true][color='main'] QComboBox:focus, QWidget[QNamedComboBox=true][color='{main-color-name}'] QComboBox:focus {
	border-bottom-color: #{main-color-pressed};
}

QWidget[color='{main-color-name}'] QWidget[QNamedComboBox=true][color='main'] QLabel[focus=true], QWidget[QNamedComboBox=true][color='{main-color-name}'] QLabel[focus=true] {
	color: #{main-color-pressed};
}



/* QNamedComboBox - Neutral Color */

QWidget[color='{neutral-color-name}'] QWidget[QNamedComboBox=true][color='main'] QComboBox:focus, QWidget[QNamedComboBox=true][color='{neutral-color-name}'] QComboBox:focus {
	border-bottom-color: #{neutral-color-pressed};
}

QWidget[color='{neutral-color-name}'] QWidget[QNamedComboBox=true][color='main'] QLabel[focus=true], QWidget[QNamedComboBox=true][color='{neutral-color-name}'] QLabel[focus=true] {
	color: #{neutral-color-pressed};
}
