
/* QNamedToggleButton */

QWidget[QNamedToggleButton=true] {
	background-color: transparent;
}

QWidget[QNamedToggleButton=true] QLabel {
	background-color: transparent;
	color: #909090;
	border: none;
	font-size: 12px;
}
