
/* QProgressBar */

QProgressBar
{
	border-radius: 4px;
	color: #ffffff;
	background-color: #1A1A1A;
	height: 12px;
	text-align: center;
}
QProgressBar::chunk
{
	background-color: #05b8cc;
	border-radius: 4px;
}

QProgressBar[small=true]
{
	height: 6px;
	border-radius: 3px;
}
QProgressBar::chunk[small=true]
{
	border-radius: 3px;
}

QProgressBar[not-rounded=true]
{
	border-radius: 0px;
}
QProgressBar[not-rounded=true]::chunk
{
	border-radius: 0px;
}

QProgressBar[light=true]
{
	background-color: #808080;
}



/* QProgressBar - Main Color */

QWidget[color='{main-color-name}'] QProgressBar[color='main']::chunk, QProgressBar[color='{main-color-name}']::chunk {
	background-color: #{main-color-pressed};
}



/* QProgressBar - Neutral Color */

QWidget[color='{neutral-color-name}'] QProgressBar[color='main']::chunk, QProgressBar[color='{neutral-color-name}']::chunk {
	background-color: #{neutral-color-pressed};
}
