
/* QPushButton */

QPushButton, QWidget[QPushButton=true] {
	background-color: #404040;
	color: #FFFFFF;
	border: 0px solid #000000;
	border-radius: 16px;
	padding: 4px 16px;
	height: 24px;
	font-weight: bold;
	font-size: 14px;
}

QPushButton:hover, QWidget[QPushButton=true]:hover {
	background-color: #343434;
}

QPushButton:pressed, QWidget[QPushButton=true]:pressed {
	background-color: #4C4C4C;
}

QPushButton:disabled, QWidget[QPushButton=true]:disabled {
	background-color: #272727;
	color: #8F8F8F;
}



/* QPushButton - Icon Padding */

QPushButton[icon-padding=true] {
	height: 24px;
	text-align: left;
	font-size: 14px;
	qproperty-iconSize: 24px;
	padding-left: 8px;
}



/* QPushButton - Transparent */

QPushButton[transparent=true], QWidget[QPushButton=true][transparent=true] {
	background-color: transparent;
	padding: 2px 14px;
	border-radius: 16px;
}

QPushButton[transparent=true]:hover, QWidget[QPushButton=true][transparent=true]:hover {
	background-color: transparent;
}

QPushButton[transparent=true]:pressed, QWidget[QPushButton=true][transparent=true]:pressed {
	background-color: transparent;
}

QPushButton[transparent=true]:disabled, QWidget[QPushButton=true][transparent=true]:disabled {
	background-color: transparent;
	color: #8F8F8F;
}



/* QPushButton - Main Color */

QPushButton[color='{main-color-name}'], QWidget[color='{main-color-name}'] QPushButton[color='main'], QWidget[QPushButton=true][color='{main-color-name}'], QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main'] {
	background-color: #{main-color-normal};
}

QPushButton[color='{main-color-name}']:hover, QWidget[color='{main-color-name}'] QPushButton[color='main']:hover, QWidget[QPushButton=true][color='{main-color-name}']:hover, QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main']:hover {
	background-color: #{main-color-hover};
}

QPushButton[color='{main-color-name}']:pressed, QWidget[color='{main-color-name}'] QPushButton[color='main']:pressed, QWidget[QPushButton=true][color='{main-color-name}']:pressed, QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main']:pressed {
	background-color: #{main-color-pressed};
}

QPushButton[color='{main-color-name}']:disabled, QWidget[color='{main-color-name}'] QPushButton[color='main']:disabled, QWidget[QPushButton=true][color='{main-color-name}']:disabled, QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main']:disabled {
	background-color: #{main-color-disabled};
	color: #8F8F8F;
}

QPushButton[color='{main-color-name}'][transparent=true], QWidget[color='{main-color-name}'] QPushButton[color='main'][transparent=true], QWidget[QPushButton=true][color='{main-color-name}'][transparent=true], QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true] {
	border: 2px solid #{main-color-normal};
	background-color: transparent;
	color: #{main-color-normal};
}

QPushButton[color='{main-color-name}'][transparent=true]:hover, QWidget[color='{main-color-name}'] QPushButton[color='main'][transparent=true]:hover, QWidget[QPushButton=true][color='{main-color-name}'][transparent=true]:hover, QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true]:hover {
	border-color: #{main-color-normal};
	background-color: #{main-color-normal};
	color: #1A1A1A;
}

QPushButton[color='{main-color-name}'][transparent=true]:pressed, QWidget[color='{main-color-name}'] QPushButton[color='main'][transparent=true]:pressed, QWidget[QPushButton=true][color='{main-color-name}'][transparent=true]:pressed, QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true]:pressed {
	border-color: #{main-color-pressed};
	background-color: #{main-color-pressed};
	color: #1A1A1A;
}

QPushButton[color='{main-color-name}'][transparent=true]:disabled, QWidget[color='{main-color-name}'] QPushButton[color='main'][transparent=true]:disabled, QWidget[QPushButton=true][color='{main-color-name}'][transparent=true]:disabled, QWidget[color='{main-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true]:disabled {
	border-color: #{main-color-disabled};
	background-color: transparent;
	color: #8F8F8F;
}



/* QPushButton - Neutral Color */

QPushButton[color='{neutral-color-name}'], QWidget[color='{neutral-color-name}'] QPushButton[color='main'], QWidget[QPushButton=true][color='{neutral-color-name}'], QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main'] {
	background-color: #{neutral-color-normal};
	color: #000000;
}

QPushButton[color='{neutral-color-name}']:hover, QWidget[color='{neutral-color-name}'] QPushButton[color='main']:hover, QWidget[QPushButton=true][color='{neutral-color-name}']:hover, QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main']:hover {
	background-color: #{neutral-color-hover};
}

QPushButton[color='{neutral-color-name}']:pressed, QWidget[color='{neutral-color-name}'] QPushButton[color='main']:pressed, QWidget[QPushButton=true][color='{neutral-color-name}']:pressed, QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main']:pressed {
	background-color: #{neutral-color-pressed};
}

QPushButton[color='{neutral-color-name}']:disabled, QWidget[color='{neutral-color-name}'] QPushButton[color='main']:disabled, QWidget[QPushButton=true][color='{neutral-color-name}']:disabled, QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main']:disabled {
	background-color: #{neutral-color-disabled};
	color: #8F8F8F;
}

QPushButton[color='{neutral-color-name}'][transparent=true], QWidget[color='{neutral-color-name}'] QPushButton[color='main'][transparent=true], QWidget[QPushButton=true][color='{neutral-color-name}'][transparent=true], QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true] {
	border: 2px solid #{neutral-color-normal};
	background-color: transparent;
	color: #{neutral-color-normal};
}

QPushButton[color='{neutral-color-name}'][transparent=true]:hover, QWidget[color='{neutral-color-name}'] QPushButton[color='main'][transparent=true]:hover, QWidget[QPushButton=true][color='{neutral-color-name}'][transparent=true]:hover, QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true]:hover {
	border-color: #{neutral-color-normal};
	background-color: #{neutral-color-normal};
	color: #1A1A1A;
}

QPushButton[color='{neutral-color-name}'][transparent=true]:pressed, QWidget[color='{neutral-color-name}'] QPushButton[color='main'][transparent=true]:pressed, QWidget[QPushButton=true][color='{neutral-color-name}'][transparent=true]:pressed, QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true]:pressed {
	border-color: #{neutral-color-pressed};
	background-color: #{neutral-color-pressed};
	color: #1A1A1A;
}

QPushButton[color='{neutral-color-name}'][transparent=true]:disabled, QWidget[color='{neutral-color-name}'] QPushButton[color='main'][transparent=true]:disabled, QWidget[QPushButton=true][color='{neutral-color-name}'][transparent=true]:disabled, QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][color='main'][transparent=true]:disabled {
	border-color: #{neutral-color-disabled};
	background-color: transparent;
	color: #8F8F8F;
}



/* QPushButton - Checkable */

QPushButton[checkable=true], QWidget QPushButton[checkable=true][color='main'], QWidget[QPushButton=true][checkable=true], QWidget QWidget[QPushButton=true][checkable=true][color='main'] {
	background-color: #262626;
	color: #FFFFFF;
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 4px 32px;
	height: 64px;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}

QPushButton[checkable=true]:hover, QWidget QPushButton[checkable=true][color='main']:hover, QWidget[QPushButton=true][checkable=true]:hover, QWidget QWidget[QPushButton=true][checkable=true][color='main']:hover {
	background-color: #333333;
}

QPushButton[checkable=true]:checked, QWidget QPushButton[checkable=true][color='main']:checked, QWidget[QPushButton=true][checkable=true]:checked, QWidget QWidget[QPushButton=true][checkable=true][color='main']:checked {
	background-color: #262626;
	border: 2px solid #3D77C2;
}

QPushButton[checkable=true]:hover:checked, QWidget QPushButton[checkable=true][color='main']:hover:checked, QWidget[QPushButton=true][checkable=true]:hover:checked, QWidget QWidget[QPushButton=true][checkable=true][color='main']:hover:checked {
	background-color: #333333;
}



/* QPushButton - Checkable - Main Color */

QPushButton[checkable=true][color='{main-color-name}']:checked, QWidget[color='{main-color-name}'] QPushButton[checkable=true][color='main']:checked, QWidget[QPushButton=true][checkable=true][color='{main-color-name}']:checked, QWidget[color='{main-color-name}'] QWidget[QPushButton=true][checkable=true][color='main']:checked {
	border-color: #{main-color-pressed};
}



/* QPushButton - Checkable - Neutral Color */

QPushButton[checkable=true][color='{neutral-color-name}']:checked, QWidget[color='{neutral-color-name}'] QPushButton[checkable=true][color='main']:checked, QWidget[QPushButton=true][checkable=true][color='{neutral-color-name}']:checked, QWidget[color='{neutral-color-name}'] QWidget[QPushButton=true][checkable=true][color='main']:checked {
	border-color: #{neutral-color-pressed};
}



/* QPushButton - Read More */

QPushButton[readmore=true] {
	height: 20px;
	border: none;
	background-color: transparent;
	font-size: 14px;
	/*padding-left: 16px;*/
	text-align: left;
	color: #999999;
	border-bottom: 2px solid #313131;
	border-radius: 0px;
}

QPushButton[readmore=true]:hover {
	color: #B3B3B3;
	border-bottom: 2px solid #484848;
}

QPushButton[readmore=true]:focus {
	color: #808080;
	border-bottom: 2px solid #313131;
}



/* QPushButton - Small */

QPushButton[small=true] {
	color: #dddddd;
	font-weight: bold;
	font-size: 12px;
}
