
/* QSidePanel */

QWidget[QSidePanel=true], QWidget[QSidePanel=true] QWidget {
	background-color: #262626;
	border: none;
	margin: 0 0 0 0;
	spacing: 0;
}

QWidget[QSidePanel=true] QPushButton {
	background-color: transparent;
	border: 2px solid transparent;
	color: #848484;
	border: none;
	border-radius: 5px;
	height: 28px;
	text-align: left;
	font-size: 14px;
	qproperty-iconSize: 28px;
	padding-left: 8px;
}

QWidget[QSidePanel=true] QPushButton[selected=true] {
	background-color: #404040;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	height: 28px;
	text-align: left;
	font-size: 14px;
	qproperty-iconSize: 28px;
	padding-left: 8px;
}

QWidget[QSidePanel=true] QPushButton:hover {
	color: #B8B8B8;
}

QWidget[QSidePanel=true] QPushButton:pressed {
	color: #B8B8B8;
}

QWidget[QSidePanel=true] QPushButton:focus {
	border: none;
}

QWidget[QSidePanel=true] QPushButton[selected=true]:hover {
	background-color: #404040;
	color: #FFFFFF;
}

QWidget[QSidePanel=true] QPushButton[selected=true]:pressed {
	background-color: #404040;
	color: #FFFFFF;
}

QWidget[QSidePanel=true] QPushButton[selected=true]:focus {
	border: none;
}

QWidget[QSidePanel=true][transparent=true], QWidget[QSidePanel=true][transparent=true] QWidget {
	background-color: transparent;
}

QWidget[QSidePanel=true][transparent=true] QPushButton[selected=true] {
	background-color: #2D2D2D;
}

QWidget[QSidePanel=true][transparent=true] QPushButton[selected=true]:hover {
	background-color: #2D2D2D;
}

QWidget[QSidePanel=true][transparent=true] QPushButton[selected=true]:pressed {
	background-color: #2D2D2D;
}



/* QSidePanel - Border */

QWidget[QSidePanel=true][background='dark'], QWidget[QSidePanel=true][background='dark']:hover, QWidget[QSidePanel=true][background='dark']:focus, QWidget[QSidePanel=true][background='dark']:disabled {
	background-color: #1A1A1A;
}

QWidget[QSidePanel=true][background='light'], QWidget[QSidePanel=true][background='light']:hover, QWidget[QSidePanel=true][background='light']:focus, QWidget[QSidePanel=true][background='light']:disabled {
	background-color: #262626;
}

QWidget[QSidePanel=true][border-top=true], QWidget[QSidePanel=true][border-top=true]:hover, QWidget[QSidePanel=true][border-top=true]:focus, QWidget[QSidePanel=true][border-top=true]:disabled {
	border-top: 1px solid #313131;
	border-radius: 0px;
}

QWidget[QSidePanel=true][border-bottom=true], QWidget[QSidePanel=true][border-bottom=true]:hover, QWidget[QSidePanel=true][border-bottom=true]:focus, QWidget[QSidePanel=true][border-bottom=true]:disabled {
	border-bottom: 1px solid #313131;
	border-radius: 0px;
}

QWidget[QSidePanel=true][border-left=true], QWidget[QSidePanel=true][border-left=true]:hover, QWidget[QSidePanel=true][border-left=true]:focus, QWidget[QSidePanel=true][border-left=true]:disabled {
	border-left: 1px solid #313131;
	border-radius: 0px;
}

QWidget[QSidePanel=true][border-right=true], QWidget[QSidePanel=true][border-right=true]:hover, QWidget[QSidePanel=true][border-right=true]:focus, QWidget[QSidePanel=true][border-right=true]:disabled {
	border-right: 1px solid #313131;
	border-radius: 0px;
}



/* QSidePanel - Main Color */

QWidget[color='{main-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton, QWidget[QSidePanel=true][color='{main-color-name}'] QPushButton {
	background-color: transparent;
}

QWidget[color='{main-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton:hover, QWidget[QSidePanel=true][color='{main-color-name}'] QPushButton:hover {
	background-color: #50{main-color-hover};
}

QWidget[color='{main-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton:focus, QWidget[QSidePanel=true][color='{main-color-name}'] QPushButton:focus {
	background-color: #{main-color-hover};
}

QWidget[color='{main-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton[selected=true], QWidget[QSidePanel=true][color='{main-color-name}'] QPushButton[selected=true] {
	background-color: #{main-color-normal};
}

QWidget[color='{main-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton[selected=true]:hover, QWidget[QSidePanel=true][color='{main-color-name}'] QPushButton[selected=true]:hover {
	background-color: #{main-color-normal};
}

QWidget[color='{main-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton[selected=true]:focus, QWidget[QSidePanel=true][color='{main-color-name}'] QPushButton[selected=true]:focus {
	background-color: #{main-color-normal};
}



/* QSidePanel - Neutral Color */

QWidget[color='{neutral-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton, QWidget[QSidePanel=true][color='{neutral-color-name}'] QPushButton {
	background-color: transparent;
}

QWidget[color='{neutral-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton:hover, QWidget[QSidePanel=true][color='{neutral-color-name}'] QPushButton:hover {
	background-color: #50{neutral-color-hover};
}

QWidget[color='{neutral-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton:focus, QWidget[QSidePanel=true][color='{neutral-color-name}'] QPushButton:focus {
	background-color: #{neutral-color-hover};
}

QWidget[color='{neutral-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton[selected=true], QWidget[QSidePanel=true][color='{neutral-color-name}'] QPushButton[selected=true] {
	background-color: #{neutral-color-normal};
	color: #000000;
}

QWidget[color='{neutral-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton[selected=true]:hover, QWidget[QSidePanel=true][color='{neutral-color-name}'] QPushButton[selected=true]:hover {
	background-color: #{neutral-color-normal};
	color: #000000;
}

QWidget[color='{neutral-color-name}'] QWidget[QSidePanel=true][color='main'] QPushButton[selected=true]:focus, QWidget[QSidePanel=true][color='{neutral-color-name}'] QPushButton[selected=true]:focus {
	background-color: #{neutral-color-normal};
	color: #000000;
}
