
/* QTabWidget */

QTabWidget {
	padding: 2px;
	selection-background-color: transparent;
}

QTabWidget QWidget {
	background-color: transparent;
	border-radius: 4px;
}

QTabWidget::pane {
	background-color: transparent;
	border-bottom: 2px solid transparent;
	color: #808080;
}

QTabWidget::pane:selected {
	color: #B3B3B3;
}

QTabBar, QDockWidget QTabBar {
	qproperty-drawBase: 0;
	border-radius: 4px;
	margin: 0px;
	padding: 2px;
	border: 0;
}

QTabBar::tab, QDockWidget QTabBar::tab {
	border-bottom: 2px solid transparent;
}

QTabBar::tab:top:selected:disabled, QDockWidget QTabBar::tab:top:selected:disabled {
	border-bottom: 2px solid #26486B;
	color: #808080;
	background-color: #455364;
}

QTabBar::tab:top:!selected:disabled, QDockWidget QTabBar::tab:top:!selected:disabled {
	border-bottom: 2px solid #3D77C2;
	color: #808080;
	background-color: #3D77C2;
}

QTabBar::tab:top:!selected, QDockWidget QTabBar::tab:top:!selected {
	border-bottom: 2px solid transparent;
	margin-top: 2px;
	color: #808080;
}

QTabBar::tab:top, QDockWidget QTabBar::tab:top {
	background-color: transparent;
	margin-left: 12px;
	margin-right: 12px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 10px;
	min-width: 8px;
	border-bottom: 2px solid transparent;
	font-size: 14px;
	font-weight: bold;
}

QTabBar::tab:top:selected, QDockWidget QTabBar::tab:top:selected {
	background-color: transparent;
	color: #FFFFFF;
	border-bottom: 2px solid #3D77C2;
}

QTabBar::tab:top:!selected:hover, QDockWidget QTabBar::tab:top:!selected:hover {
	border-bottom: 2px solid transparent;
	color: #B3B3B3;
	padding-left: 3px;
	padding-right: 3px;
}

QTabBar QToolButton, QDockWidget QTabBar QToolButton {
	background-color: transparent;
	height: 12px;
	width: 12px;
}



/* QTabWidget - Main Color */

QWidget[color='{main-color-name}'] QTabBar[color='main']::tab:top:selected, QTabBar[color='{main-color-name}']::tab:top:selected, QWidget[color='{main-color-name}'] QDockWidget QTabBar[color='main']::tab:top:selected, QDockWidget QTabBar[color='{main-color-name}']::tab:top:selected {
	border-bottom-color: #{main-color-pressed};
}



/* QTabWidget - Neutral Color */

QWidget[color='{neutral-color-name}'] QTabBar[color='main']::tab:top:selected, QTabBar[color='{neutral-color-name}']::tab:top:selected, QWidget[color='{neutral-color-name}'] QDockWidget QTabBar[color='main']::tab:top:selected, QDockWidget QTabBar[color='{neutral-color-name}']::tab:top:selected {
	border-bottom-color: #{neutral-color-pressed};
}
