
/* QTitleButton */

QWidget[QTitleButton=true] {
	background-color: #262626;
	color: #FFFFFF;
	border: 2px solid transparent;
	border-radius: 4px;
	padding: 4px 8px;
}

QWidget[QTitleButton=true]:hover {
	background-color: #343434;
}

QWidget[QTitleButton=true][pressed=true] {
	background-color: #4C4C4C;
}

QWidget[QTitleButton=true]:disabled {
	background-color: #272727;
}

QWidget[QTitleButton=true]:disabled QLabel:disabled {
	color: #8F8F8F;
}



/* QTitleButton - Main Color */

QWidget[QTitleButton=true][color='{main-color-name}'], QWidget[color='{main-color-name}'] QWidget[QTitleButton=true][color='main'] {
	border-color: transparent;
}

QWidget[QTitleButton=true][color='{main-color-name}']:hover, QWidget[color='{main-color-name}'] QWidget[QTitleButton=true][color='main']:hover {
	border-color: #{main-color-hover};
}

QWidget[QTitleButton=true][color='{main-color-name}'][pressed=true], QWidget[color='{main-color-name}'] QWidget[QTitleButton=true][color='main'][pressed=true] {
	border-color: #{main-color-pressed};
}

QWidget[QTitleButton=true][color='{main-color-name}']:disabled, QWidget[color='{main-color-name}'] QWidget[QTitleButton=true][color='main']:disabled {
	border-color: transparent;
}

QWidget[QTitleButton=true][color='{main-color-name}']:disabled QLabel:disabled, QWidget[color='{main-color-name}'] QWidget[QTitleButton=true][color='main']:disabled QLabel:disabled {
	color: #8F8F8F;
}



/* QTitleButton - Neutral Color */

QWidget[QTitleButton=true][color='{neutral-color-name}'], QWidget[color='{neutral-color-name}'] QWidget[QTitleButton=true][color='main'] {
	border-color: transparent;
}

QWidget[QTitleButton=true][color='{neutral-color-name}']:hover, QWidget[color='{neutral-color-name}'] QWidget[QTitleButton=true][color='main']:hover {
	border-color: #{neutral-color-hover};
}

QWidget[QTitleButton=true][color='{neutral-color-name}'][pressed=true], QWidget[color='{neutral-color-name}'] QWidget[QTitleButton=true][color='main'][pressed=true] {
	border-color: #{neutral-color-pressed};
}

QWidget[QTitleButton=true][color='{neutral-color-name}']:disabled, QWidget[color='{neutral-color-name}'] QWidget[QTitleButton=true][color='main']:disabled {
	border-color: transparent;
}

QWidget[QTitleButton=true][color='{neutral-color-name}']:disabled QLabel:disabled, QWidget[color='{neutral-color-name}'] QWidget[QTitleButton=true][color='main']:disabled QLabel:disabled {
	color: #8F8F8F;
}
