
/* QToggleButton */

QWidget[QToggleButton=true] QCheckBox {
	color: #44999999;
}

QWidget[QToggleButton=true] QCheckBox::handle {
	color: #5D5D5D;
}

QWidget[QToggleButton=true] QCheckBox:checked {
	color: #0466C7;
}

QWidget[QToggleButton=true] QCheckBox:checked::handle {
	color: #FBFEFB;
}

QWidget[QToggleButton=true] QCheckBox:disabled {
	color: #44343434;
}

QWidget[QToggleButton=true] QCheckBox:disabled::handle {
	color: #8F8F8F;
}

QWidget[QToggleButton=true] QCheckBox:checked:disabled {
	color: #044466;
}

QWidget[QToggleButton=true] QCheckBox:checked:disabled::handle {
	color: #8F8F8F;
}



/* QToggleButton - Main Color */

QWidget[color='{main-color-name}'] QWidget[QToggleButton=true] QCheckBox:checked {
	color: #{main-color-pressed};
}

QWidget[color='{main-color-name}'] QWidget[QToggleButton=true] QCheckBox:checked:disabled {
	color: #{main-color-disabled};
}



/* QToggleButton - Neutral Color */

QWidget[color='{neutral-color-name}'] QWidget[QToggleButton=true] QCheckBox:checked {
	color: #{neutral-color-pressed};
}

QWidget[color='{neutral-color-name}'] QWidget[QToggleButton=true] QCheckBox:checked:disabled {
	color: #{neutral-color-disabled};
}
