
/* QWidget */

QWidget, QFrame {
	background-color: #1A1A1A;
	color: #fefefe;
	border: none;
	border-color: #4f5b62;
}

QWidget[light=true], QFrame[light=true], QFrame[light=true] QFrame, QWidget[light=true] QFrame {
	background-color: #262626;
}

QWidget[transparent=true] {
	background-color: transparent;
}



/* QWidget - Global Rounded */

QWidget[side='top'] {
	background-color: #262626;
	border-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

QWidget[side='middle'] {
	background-color: #262626;
	border-radius: 0px;
}

QWidget[side='bottom'] {
	background-color: #262626;
	border-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

QWidget[side='all'] {
	background-color: #262626;
	border-radius: 4px;
}

QWidget[side='all-hover'] {
	background-color: #262626;
	border-radius: 4px;
	border: 2px solid transparent;
}

QWidget[side='all-hover']:hover {
	background-color: #303030;
	border-radius: 4px;
	border: 2px solid #8AAEDB;
}



/* QWidget - Transparent */
QWidget[background='transparent'] {
	background-color: transparent;
}



/* QWidget - Rounded */
QWidget[border-radius='4'] {
	border-radius: 4px;
}

QWidget[border-radius='8'] {
	border-radius: 8px;
}

QWidget[border-radius='12'] {
	border-radius: 12px;
}

QWidget[border-radius='16'] {
	border-radius: 16px;
}



/* QWidget - Main Color */

QWidget[color='{main-color-name}']:hover, QWidget[color='{main-color-name}'] QWidget[color='main']:hover, QWidget[color='{main-color-name}'][checkable=true][checked=true], QWidget[color='{main-color-name}'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #{main-color-hover};
}
QWidget[color='{main-color-name}'][checkable=true][checked=false]:hover, QWidget[color='{main-color-name}'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Neutral Color */

QWidget[color='{neutral-color-name}']:hover, QWidget[color='{neutral-color-name}'] QWidget[color='main']:hover, QWidget[color='{neutral-color-name}'][checkable=true][checked=true], QWidget[color='{neutral-color-name}'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #{neutral-color-hover};
}
QWidget[color='{neutral-color-name}'][checkable=true][checked=false]:hover, QWidget[color='{neutral-color-name}'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Bottom Border Only */
QWidget[bottom-border-only=true] {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid transparent;
}
